@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 0px;
	max-width: 100%; /* ajustar la anchura máxima del navbar según sea necesario */
	flex-wrap: nowrap;  
}
  
  
  .navbar-left {
	display: flex;
	align-items: center;
  }
  
  .navbar-logo {
	height: 30px; /* ajustar la altura del logo según sea necesario */
	margin-right: 10px; /* agregar espacio entre el logo y el texto */
  }
  
  .navbar-text {
	font-size: 1.2rem; /* ajustar el tamaño de la fuente según sea necesario */
  }
  
  .navbar-right {
	display: flex;
	align-items: center;
	height: 50px;
	width: 200px;
  }
  
  .navbarnav {
	display: flex;
	justify-content: flex-end;
	max-width: 100%; /* ajustar la anchura máxima de los elementos de navegación según sea necesario */
  /* 150px es la anchura aproximada del logo y el texto en la sección de la izquierda */
  }
  
  .nav-item {
	margin-left: 10px; /* agregar espacio entre los elementos de navegación */
  }
  .nav-link {
	white-space: nowrap; /* asegura que los elementos de navegación no se dividan en varias líneas */
	/* height: 50px;
	width: 100px; */
	padding-right: .5rem;
  padding-left: .5rem;

  }